body {
    font-family: 'Lexend', sans-serif;
}

#main {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
}

#nav_content {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
}

#nav_content nav {
    padding: 1em;
    width: 20%;
    height: 100%;
}

nav:hover {
    background-color: #222;

    a {
        color: white !important;
    }

    a:hover {
        color: #ff4d16 !important;
    }

    .btn-log {
        border-color: white !important;
    }
}

#content {
    position: relative;
}

#nav_content #content {
    margin-top: 5%;
    padding: 1em;
    width: 80%;
}

.dec-login {
    height: 100%;
    background-image: url('../img/Rangitikei.png');
    background-size: cover;
}

.dec-register {
    height: 100%;
    background-image: url('../img/Waimakariri.png');
    background-size: cover;
}