body {
    font-family: 'Lexend', sans-serif;
}

#main {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
}

#nav_content {
    display: flex;
    width: 100%;
    background-color: whitesmoke;
}

#nav_content nav {
    padding: 1em;
    width: 20%;
    height: 100%;
}

nav:hover {
    background-color: #222;

    div {
        color: white;
    }
}

#content {
    position: relative;
}

#nav_content #content {
    margin-top: 5%;
    padding: 1em;
    width: 80%;
}